BOT_APP_ID=<Azure App Registration Application (client) ID>
BOT_APP_PASSWORD=<Azure App Registration client secret>
PORT=3978

SF_LOGIN_URL=https://login.salesforce.com
SF_USERNAME=udaykiran.bussa@gyansys.com.connections26
SF_PASSWORD=<password>
SF_SECURITY_TOKEN=<security token>
